format: "xrdf"

format_version: 1.0

default_joint_positions: 
  left_hip_pitch_joint: 0.0011
  right_hip_pitch_joint: 0.0011
  waist_yaw_joint: 0.0
  left_hip_roll_joint: 0.0
  right_hip_roll_joint: -0.0
  left_shoulder_pitch_joint: -1e-04
  right_shoulder_pitch_joint: -1e-04
  left_hip_yaw_joint: -0.0
  right_hip_yaw_joint: 0.0
  left_shoulder_roll_joint: 1e-04
  right_shoulder_roll_joint: -1e-04
  left_knee_joint: 0.0
  right_knee_joint: 0.0
  left_shoulder_yaw_joint: 0.0
  right_shoulder_yaw_joint: -0.0
  left_ankle_pitch_joint: 0.0
  right_ankle_pitch_joint: 0.0
  left_elbow_joint: -1e-04
  right_elbow_joint: -1e-04
  left_ankle_roll_joint: 0.0
  right_ankle_roll_joint: -0.0
  left_wrist_roll_joint: 0.0
  right_wrist_roll_joint: -0.0

cspace: 
  joint_names: []
  acceleration_limits: []
  jerk_limits: []

collision: 
  geometry: "auto_generated_collision_sphere_group"

self_collision: 
  geometry: "auto_generated_collision_sphere_group"
  ignore: 
    pelvis: 
      - "left_hip_pitch_link"
      - "right_hip_pitch_link"
      - "torso_link"
    left_hip_pitch_link: 
      - "left_hip_roll_link"
      - "right_hip_pitch_link"
      - "torso_link"
    left_hip_roll_link: 
      - "left_hip_yaw_link"
    left_hip_yaw_link: 
      - "left_knee_link"
    left_knee_link: 
      - "left_ankle_pitch_link"
    left_ankle_pitch_link: 
      - "left_ankle_roll_link"
    right_hip_pitch_link: 
      - "right_hip_roll_link"
      - "torso_link"
    right_hip_roll_link: 
      - "right_hip_yaw_link"
    right_hip_yaw_link: 
      - "right_knee_link"
    right_knee_link: 
      - "right_ankle_pitch_link"
    right_ankle_pitch_link: 
      - "right_ankle_roll_link"
    torso_link: 
      - "left_shoulder_pitch_link"
      - "right_shoulder_pitch_link"
    left_shoulder_pitch_link: 
      - "left_shoulder_roll_link"
      - "right_shoulder_pitch_link"
    left_shoulder_roll_link: 
      - "left_shoulder_yaw_link"
    left_shoulder_yaw_link: 
      - "left_elbow_link"
    left_elbow_link: 
      - "left_wrist_roll_rubber_hand"
    right_shoulder_pitch_link: 
      - "right_shoulder_roll_link"
    right_shoulder_roll_link: 
      - "right_shoulder_yaw_link"
    right_shoulder_yaw_link: 
      - "right_elbow_link"
    right_elbow_link: 
      - "right_wrist_roll_rubber_hand"

geometry: 
  auto_generated_collision_sphere_group: 
    spheres: 
      right_wrist_roll_rubber_hand: 
        - center: [0.036, 0.001, -0.0]
          radius: 0.0369
        - center: [0.077, -0.004, 0.002]
          radius: 0.0308
        - center: [0.106, -0.005, 0.001]
          radius: 0.0275
        - center: [0.142, -0.009, -0.004]
          radius: 0.0242
        - center: [0.027, 0.002, 0.001]
          radius: 0.0369
        - center: [0.172, -0.008, 0.014]
          radius: 0.0231
        - center: [0.172, -0.005, -0.021]
          radius: 0.022
        - center: [0.06, -0.002, 0.001]
          radius: 0.0341
        - center: [0.145, -0.004, 0.02]
          radius: 0.0209
        - center: [0.172, -0.009, -0.002]
          radius: 0.0226
        - center: [0.181, -0.006, 0.019]
          radius: 0.0226
        - center: [0.155, -0.006, -0.021]
          radius: 0.022
        - center: [0.018, 0.009, -0.011]
          radius: 0.0281
        - center: [0.015, -0.014, -0.002]
          radius: 0.0253
        - center: [0.134, -0.009, 0.004]
          radius: 0.0242
        - center: [0.158, -0.005, 0.028]
          radius: 0.0193
        - center: [0.197, 0.009, 0.056]
          radius: 0.0165
        - center: [0.202, -0.005, 0.009]
          radius: 0.0154
        - center: [0.207, 0.0, 0.028]
          radius: 0.016
        - center: [0.213, -0.0, -0.034]
          radius: 0.016
        - center: [0.014, 0.013, 0.014]
          radius: 0.0237
        - center: [0.182, -0.008, -0.002]
          radius: 0.0209
        - center: [0.212, 0.001, -0.012]
          radius: 0.016
        - center: [0.216, 0.001, 0.008]
          radius: 0.016
        - center: [0.18, -0.002, 0.047]
          radius: 0.0149
        - center: [0.231, 0.006, 0.008]
          radius: 0.016
        - center: [0.23, 0.004, 0.031]
          radius: 0.0154
        - center: [0.081, -0.007, 0.001]
          radius: 0.0292
        - center: [0.234, 0.007, -0.014]
          radius: 0.0154
        - center: [0.228, 0.01, -0.035]
          radius: 0.0154
      left_wrist_roll_rubber_hand: 
        - center: [0.031, -0.001, -0.0]
          radius: 0.0374
        - center: [0.076, 0.003, 0.002]
          radius: 0.0314
        - center: [0.106, 0.007, 0.001]
          radius: 0.027
        - center: [0.135, 0.008, -0.003]
          radius: 0.0248
        - center: [0.165, 0.008, -0.015]
          radius: 0.0231
        - center: [0.169, 0.008, 0.014]
          radius: 0.0231
        - center: [0.049, 0.001, 0.001]
          radius: 0.0358
        - center: [0.182, 0.007, 0.013]
          radius: 0.022
        - center: [0.148, 0.003, 0.025]
          radius: 0.0204
        - center: [0.024, 0.005, 0.002]
          radius: 0.0341
        - center: [0.178, 0.007, -0.01]
          radius: 0.022
        - center: [0.021, -0.009, -0.01]
          radius: 0.0286
        - center: [0.153, 0.006, -0.02]
          radius: 0.022
        - center: [0.022, -0.006, 0.006]
          radius: 0.0319
        - center: [0.141, 0.009, 0.003]
          radius: 0.0242
        - center: [0.091, 0.005, 0.001]
          radius: 0.0292
        - center: [0.135, 0.004, 0.016]
          radius: 0.0204
        - center: [0.171, 0.006, -0.027]
          radius: 0.0198
        - center: [0.2, -0.013, 0.056]
          radius: 0.0165
        - center: [0.213, 0.003, 0.009]
          radius: 0.0154
        - center: [0.208, 0.003, -0.011]
          radius: 0.0154
        - center: [0.201, 0.003, 0.027]
          radius: 0.016
        - center: [0.185, -0.003, 0.049]
          radius: 0.016
        - center: [0.221, -0.001, 0.03]
          radius: 0.016
        - center: [0.226, -0.004, -0.034]
          radius: 0.0149
        - center: [0.205, -0.0, -0.032]
          radius: 0.016
        - center: [0.012, 0.013, -0.013]
          radius: 0.0215
        - center: [0.235, -0.008, 0.008]
          radius: 0.016
        - center: [0.23, -0.01, -0.014]
          radius: 0.0149
        - center: [0.064, 0.002, 0.001]
          radius: 0.0336
      left_elbow_link: 
        - center: [0.071, 0.002, -0.011]
          radius: 0.0482
      right_elbow_link: 
        - center: [0.071, -0.002, -0.011]
          radius: 0.0482
      right_shoulder_pitch_link: 
        - center: [-0.0, -0.038, -0.016]
          radius: 0.0501
        - center: [-0.0, -0.038, -0.016]
          radius: 0.0501
      left_shoulder_pitch_link: 
        - center: [-0.0, 0.04, -0.014]
          radius: 0.0501
      right_shoulder_roll_link: 
        - center: [0.001, -0.006, -0.08]
          radius: 0.0426
        - center: [0.002, -0.011, -0.065]
          radius: 0.0392
      left_shoulder_roll_link: 
        - center: [-0.001, 0.006, -0.08]
          radius: 0.0426
        - center: [0.002, 0.002, -0.065]
          radius: 0.0392
      right_shoulder_yaw_link: 
        - center: [0.015, 0.003, -0.084]
          radius: 0.0478
        - center: [-0.006, 0.002, -0.077]
          radius: 0.0478
        - center: [-0.016, 0.004, -0.021]
          radius: 0.0408
        - center: [-0.016, -0.002, -0.048]
          radius: 0.0408
      left_shoulder_yaw_link: 
        - center: [0.012, -0.002, -0.088]
          radius: 0.0468
        - center: [-0.01, -0.005, -0.072]
          radius: 0.0433
        - center: [-0.016, 0.002, -0.02]
          radius: 0.0398
        - center: [0.023, -0.005, -0.08]
          radius: 0.0454
      pelvis: 
        - center: [-0.001, -0.005, -0.062]
          radius: 0.0879
      left_hip_pitch_link: 
        - center: [0.002, 0.038, -0.006]
          radius: 0.0539
        - center: [0.002, 0.062, -0.006]
          radius: 0.0689
        - center: [0.032, 0.055, -0.095]
          radius: 0.0682
      right_hip_pitch_link: 
        - center: [0.037, -0.045, -0.106]
          radius: 0.0689
        - center: [0.004, -0.043, -0.008]
          radius: 0.0682
      torso_link: 
        - center: [0.007, -0.028, 0.119]
          radius: 0.0744
        - center: [0.002, 0.044, 0.132]
          radius: 0.0665
        - center: [-0.001, 0.047, 0.231]
          radius: 0.0673
        - center: [0.008, -0.047, 0.225]
          radius: 0.0658
        - center: [-0.012, -0.004, -0.001]
          radius: 0.0634
        - center: [0.003, -0.028, 0.043]
          radius: 0.0626
        - center: [0.005, 0.032, 0.031]
          radius: 0.0626
